<div class="d-flex justify-content-center mt-2">
  <%= link_to "Add new shop", new_brand_path, class: "btn btn-outline-dark", style: "margin-right: 10px" %>
  <%= link_to "Add new product", new_product_path, class: "btn btn-outline-dark" %>
</div>

<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% @brands.each do |item| %>
      <div class="col d-flex justify-content-center">
        <div class="card" style="width: 24rem">
          <img style="height: 200px" src="<%= item.image_url %>" class="card-img-top" alt="<%= item.title %>">
          <div class="card-body">
            <h5 class="card-title"><%= item.title %></h5>
            <p class="card-text"><%= item.description %></p>
            <div class="d-flex justify-content-between align-items-center">
              <p><%= item.rating %> / 5</p>
              <%= link_to "View", brand_path(id: item.id), class: "btn btn-outline-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>