<div class="container mt-3">
  <% if @create_product.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <ul>
        <% @create_product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>


<%= form_for :product_form, url: products_path do |f| %>
  <div class="container mt-5 mb-5">
    <div class="d-flex flex-column justify-content-center">
      <h4 class="mb-3">Add new product</h4>
      <form class="needs-validation">
        <div class="row">
          <div class="mb-3">
            <label for="firstName">Title</label>
            <%= f.text_field :title, class: 'form-control w-5' %>
          </div>
        </div>


        <div class="mb-3">
          <label for="email">Image url</label>
          <%= f.url_field :image_url, class: 'form-control w-5' %>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Price</label>
          </div>
          <%= f.number_field :price, in: 0..10000, value: 10, class: "form-control w-5" %>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text">Quantity</label>
          </div>
          <%= f.number_field :quantity, in: 0..10, value: 1, class: "form-control w-5" %>
        </div>


        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text">Brand</label>
          </div>
          <%= f.select :brand_id, Brand.all.collect { |p| [p.title, p.id] }, class: "form-control w-5" %>
        </div>

        <hr class="mb-4">
        <%= f.submit 'Create', class: 'btn btn-primary' %>
      </form>
    </div>
  </div>

<% end %>